ipython
jedi==0.17.2
ipykernel
jupyterlab
ipywidgets
tqdm

pandas
numpy

nltk
scikit-learn
xgboost
lightgbm
catboost
gensim
umap-learn
sentence-transformers
baycomp

matplotlib
umap-learn[plot]

black
nb_black
